<%= form_for(project_column) do |f| %>
  <% if project_column.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project_column.errors.count, "error") %> prohibited this project_column from being saved:</h2>

      <ul>
      <% project_column.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :project_id %>
    <%= f.number_field :project_id %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :required %>
    <%= f.check_box :required %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
