<p id="notice"><%= notice %></p>

<h1>Project Columns</h1>

<table>
  <thead>
    <tr>
      <th>Project</th>
      <th>Name</th>
      <th>Required</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @project_columns.each do |project_column| %>
      <tr>
        <td><%= project_column.project_id %></td>
        <td><%= project_column.name %></td>
        <td><%= project_column.required %></td>
        <td><%= link_to 'Show', project_column %></td>
        <td><%= link_to 'Edit', edit_project_column_path(project_column) %></td>
        <td><%= link_to 'Destroy', project_column, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project Column', new_project_column_path %>
