<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @project_column.project_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @project_column.name %>
</p>

<p>
  <strong>Required:</strong>
  <%= @project_column.required %>
</p>

<%= link_to 'Edit', edit_project_column_path(@project_column) %> |
<%= link_to 'Back', project_columns_path %>
