<%= form_for(column_map) do |f| %>
  <% if column_map.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(column_map.errors.count, "error") %> prohibited this column_map from being saved:</h2>

      <ul>
      <% column_map.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :xml_column_id %>
    <%= f.number_field :xml_column_id %>
  </div>

  <div class="field">
    <%= f.label :project_column_id %>
    <%= f.number_field :project_column_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
