<%= form_for(column_map, remote: true, format: :js) do |f| %>
  <% if column_map.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(column_map.errors.count, "error") %> prohibited this column_map from being saved:</h2>

      <ul>
      <% column_map.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" style="display: inline">
    <%= f.label "Project Column:" %>
    <%= column_map.project_column.name %>
    <%= f.hidden_field :project_column_id%>
  </div>

  <div class="field" style="display: inline">
    <%= f.label "Xml Column" %>
    <%= f.select :xml_column_id, @xml_columns.all.map{|p|[p.name, p.id]} %>
  </div>


  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
