<p id="notice"><%= notice %></p>

<h1>Column Maps</h1>

<table>
  <thead>
    <tr>
      <th>Xml column</th>
      <th>Project column</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @column_maps.each do |column_map| %>
      <tr>
        <td><%= column_map.xml_column_id %></td>
        <td><%= column_map.project_column_id %></td>
        <td><%= link_to 'Show', column_map %></td>
        <td><%= link_to 'Edit', edit_column_map_path(column_map) %></td>
        <td><%= link_to 'Destroy', column_map, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Column Map', new_column_map_path %>
