<p id="notice"><%= notice %></p>

<p>
  <strong>Xml column:</strong>
  <%= @column_map.xml_column_id %>
</p>

<p>
  <strong>Project column:</strong>
  <%= @column_map.project_column_id %>
</p>

<%= link_to 'Edit', edit_column_map_path(@column_map) %> |
<%= link_to 'Back', column_maps_path %>
