@font-face {
	font-family: 'icon';
	src:font-url('icon.eot');
	src:font-url('icon.eot?#iefix') format('embedded-opentype'),
	url('icon.ttf') format('truetype'),
	url('icon.woff') format('woff'),
	url('icon.svg#icon') format('svg');

}

.i {
	display: inline-block;
	font-family: 'icon';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	vertical-align: -5%;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.i-move:before {
	content: "\e600";
}
.i-move-vertical:before {
	content: "\e601";
}
.i-resize-enlarge:before {
	content: "\e602";
}
.i-resize-shrink:before {
	content: "\e603";
}
.i-move-horizontal:before {
	content: "\e604";
}
.i-download:before {
	content: "\e605";
}
.i-upload:before {
	content: "\e606";
}
.i-cloud-download:before {
	content: "\e607";
}
.i-cloud-upload:before {
	content: "\e608";
}
.i-circleleft:before {
	content: "\e609";
}
.i-circledown:before {
	content: "\e60a";
}
.i-circleup:before {
	content: "\e60b";
}
.i-circleright:before {
	content: "\e60c";
}
.i-home:before {
	content: "\e60d";
}
.i-download3:before {
	content: "\e60e";
}
.i-pin:before {
	content: "\e60f";
}
.i-pictures:before {
	content: "\e610";
}
.i-share3:before {
	content: "\e611";
}
.i-pencil2:before {
	content: "\e612";
}
.i-mail2:before {
	content: "\e613";
}
.i-support:before {
	content: "\e614";
}
.i-asc:before {
	content: "\e615";
}
.i-dsc:before {
	content: "\e616";
}
.i-ok:before {
	content: "\e617";
}
.i-error:before {
	content: "\e618";
}
.i-expand:before {
	content: "\e619";
}
.i-collapse:before {
	content: "\e61a";
}
.i-screen:before {
	content: "\e61b";
}
.i-phone3:before {
	content: "\e61c";
}
.i-phone-portrait:before {
	content: "\e61d";
}
.i-phone-landscape:before {
	content: "\e61e";
}
.i-tablet:before {
	content: "\e61f";
}
.i-tablet-landscape:before {
	content: "\e620";
}
.i-laptop:before {
	content: "\e621";
}
.i-cube:before {
	content: "\e622";
}
.i-chart:before {
	content: "\e623";
}
.i-graph:before {
	content: "\e624";
}
.i-meter:before {
	content: "\e625";
}
.i-heart2:before {
	content: "\e626";
}
.i-star2:before {
	content: "\e627";
}
.i-stack:before {
	content: "\e628";
}
.i-tv:before {
	content: "\e629";
}
.i-user2:before {
	content: "\e62a";
}
.i-users2:before {
	content: "\e62b";
}
.i-search2:before {
	content: "\e62c";
}
.i-zoom-in2:before {
	content: "\e62d";
}
.i-zoom-out2:before {
	content: "\e62e";
}
.i-slider-v:before {
	content: "\e62f";
}
.i-slider:before {
	content: "\e630";
}
.i-stats:before {
	content: "\e631";
}
.i-bars:before {
	content: "\e632";
}
.i-arrow-up-left2:before {
	content: "\e633";
}
.i-arrow-up2:before {
	content: "\e634";
}
.i-arrow-up-right2:before {
	content: "\e635";
}
.i-arrow-right2:before {
	content: "\e636";
}
.i-arrow-down-right2:before {
	content: "\e637";
}
.i-arrow-down-2:before {
	content: "\e638";
}
.i-arrow-down-left-2:before {
	content: "\e639";
}
.i-arrow-left2:before {
	content: "\e63a";
}
.i-file-pdf:before {
	content: "\e63b";
}
.i-file-openoffice:before {
	content: "\e63c";
}
.i-file-word:before {
	content: "\e63d";
}
.i-file-excel:before {
	content: "\e63e";
}
.i-file-zip:before {
	content: "\e63f";
}
.i-file-powerpoint:before {
	content: "\e640";
}
.i-file-xml:before {
	content: "\e641";
}
.i-file-css:before {
	content: "\e642";
}
.i-video:before {
	content: "\e643";
}
.i-settings:before {
	content: "\e644";
}
.i-camera:before {
	content: "\e645";
}
.i-tag:before {
	content: "\e646";
}
.i-bulb:before {
	content: "\e647";
}
.i-location:before {
	content: "\e648";
}
.i-eye2:before {
	content: "\e649";
}
.i-bubble:before {
	content: "\e64a";
}
.i-mail:before {
	content: "\e64b";
}
.i-paperplane:before {
	content: "\e64c";
}
.i-data:before {
	content: "\e64d";
}
.i-t-shirt:before {
	content: "\e64e";
}
.i-lab:before {
	content: "\e64f";
}
.i-calendar:before {
	content: "\e650";
}
.i-earth:before {
	content: "\e651";
}
.i-world:before {
	content: "\e652";
}
.i-vynil:before {
	content: "\e653";
}
.i-gauge:before {
	content: "\e654";
}
.i-statistics:before {
	content: "\e655";
}
.i-arrow-left3:before {
	content: "\e656";
}
.i-arrow-down3:before {
	content: "\e657";
}
.i-arrow-up3:before {
	content: "\e658";
}
.i-arrow-right3:before {
	content: "\e659";
}
.i-arrow-left4:before {
	content: "\e65a";
}
.i-arrow-down4:before {
	content: "\e65b";
}
.i-arrow-up4:before {
	content: "\e65c";
}
.i-arrow-right4:before {
	content: "\e65d";
}
.i-arrow-left5:before {
	content: "\e65e";
}
.i-arrow-down5:before {
	content: "\e65f";
}
.i-arrow-up5:before {
	content: "\e660";
}
.i-arrow-right5:before {
	content: "\e661";
}
.i-search:before {
	content: "\e662";
}
.i-list:before {
	content: "\e663";
}
.i-add-to-list:before {
	content: "\e664";
}
.i-list2:before {
	content: "\e665";
}
.i-play:before {
	content: "\e666";
}
.i-pause:before {
	content: "\e667";
}
.i-stop:before {
	content: "\e668";
}
.i-backward:before {
	content: "\e669";
}
.i-forward:before {
	content: "\e66a";
}
.i-feed:before {
	content: "\e66b";
}
.i-switch:before {
	content: "\e66c";
}
.i-clock2:before {
	content: "\e66d";
}
.i-health:before {
	content: "\e66e";
}
.i-pencil:before {
	content: "\e66f";
}
.i-minus2:before {
	content: "\e670";
}
.i-plus2:before {
	content: "\e671";
}
.i-stats:before {
	content: "\e672";
}
.i-paperclip:before {
	content: "\e673";
}
.i-keyboard:before {
	content: "\e674";
}
.i-mic:before {
	content: "\e675";
}
.i-heart:before {
	content: "\e676";
}
.i-layout3:before {
	content: "\e677";
}
.i-layout2:before {
	content: "\e678";
}
.i-cloud:before {
	content: "\e679";
}
.i-info:before {
	content: "\e67a";
}
.i-question:before {
	content: "\e67b";
}
.i-notification:before {
	content: "\e67c";
}
.i-libreoffice:before {
	content: "\e67d";
}
.i-headphones:before {
	content: "\e67e";
}
.i-copy2:before {
	content: "\e67f";
}
.i-copy3:before {
	content: "\e680";
}
.i-paste:before {
	content: "\e681";
}
.i-spinner:before {
	content: "\e682";
}
.i-plus:before {
	content: "\e683";
}
.i-minus:before {
	content: "\e684";
}
.i-cancel:before {
	content: "\e685";
}
.i-images:before {
	content: "\e686";
}
.i-logout:before {
	content: "\e687";
}
.i-login:before {
	content: "\e688";
}
.i-infinity:before {
	content: "\e689";
}
.i-docs:before {
	content: "\e68a";
}
.i-landscape:before {
	content: "\e68b";
}
.i-portrait:before {
	content: "\e68c";
}
.i-share:before {
	content: "\e68d";
}
.i-youtube:before {
	content: "\e68e";
}
.i-checkmark:before {
	content: "\e68f";
}
.i-notice:before {
	content: "\e690";
}
.i-link:before {
	content: "\e691";
}
.i-link2:before {
	content: "\e692";
}
.i-popup:before {
	content: "\e693";
}
.i-publish:before {
	content: "\e694";
}
.i-browser:before {
	content: "\e695";
}
.i-checkmark2:before {
	content: "\e696";
}
.i-cross2:before {
	content: "\e697";
}
.i-question2:before {
	content: "\e698";
}
.i-info2:before {
	content: "\e699";
}
.i-loop:before {
	content: "\e69a";
}
.i-retweet:before {
	content: "\e69b";
}
.i-arrow:before {
	content: "\e69c";
}
.i-arrow2:before {
	content: "\e69d";
}
.i-shuffle:before {
	content: "\e69e";
}
.i-ccw:before {
	content: "\e69f";
}
.i-cycle:before {
	content: "\e6a0";
}
.i-cw:before {
	content: "\e6a1";
}
.i-switch:before {
	content: "\e6a2";
}
.i-back:before {
	content: "\e6a3";
}
.i-layout:before {
	content: "\e6a4";
}
.i-code:before {
	content: "\e6a5";
}
.i-vcard:before {
	content: "\e6a6";
}
.i-googleplus:before {
	content: "\e6a7";
}
.i-facebook:before {
	content: "\e6a8";
}
.i-twitter:before {
	content: "\e6a9";
}
.i-rss:before {
	content: "\e6aa";
}
.i-signal:before {
	content: "\e6ab";
}
.i-flow-tree:before {
	content: "\e6ac";
}
.i-domain3:before {
	content: "\e6ad";
}
.i-trashcan:before {
	content: "\e6ae";
}
.i-book:before {
	content: "\e6af";
}
.i-bars:before {
	content: "\e6b0";
}
.i-stopwatch:before {
	content: "\e6b1";
}
.i-map2:before {
	content: "\e6b2";
}
.i-checkmark3:before {
	content: "\e6b3";
}
.i-sun:before {
	content: "\e6b4";
}
.i-clip:before {
	content: "\e6b5";
}
.i-study:before {
	content: "\e6b6";
}
.i-music:before {
	content: "\e6b7";
}
.i-params:before {
	content: "\e6b8";
}
.i-stack3:before {
	content: "\e6b9";
}
.i-arrow-down:before {
	content: "\e6ba";
}
.i-arrow-down-left:before {
	content: "\e6bb";
}
.i-arrow-down-right:before {
	content: "\e6bc";
}
.i-arrow-left:before {
	content: "\e6bd";
}
.i-arrow-right:before {
	content: "\e6be";
}
.i-arrow-up-right:before {
	content: "\e6bf";
}
.i-arrow-up:before {
	content: "\e6c0";
}
.i-arrow-up-left:before {
	content: "\e6c1";
}
.i-compass:before {
	content: "\e6c2";
}
.i-users3:before {
	content: "\e6c3";
}
.i-user3:before {
	content: "\e6c4";
}
.i-camera2:before {
	content: "\e6c5";
}
.i-file:before {
	content: "\e6c6";
}
.i-file2:before {
	content: "\e6c7";
}
.i-file-plus:before {
	content: "\e6c8";
}
.i-file-minus:before {
	content: "\e6c9";
}
.i-file-check:before {
	content: "\e6ca";
}
.i-file-remove:before {
	content: "\e6cb";
}
.i-file-copy:before {
	content: "\e6cc";
}
.i-stack2:before {
	content: "\e6cd";
}
.i-folder:before {
	content: "\e6ce";
}
.i-folder-upload:before {
	content: "\e6cf";
}
.i-folder-download:before {
	content: "\e6d0";
}
.i-folder-minus:before {
	content: "\e6d1";
}
.i-folder-plus:before {
	content: "\e6d2";
}
.i-folder2:before {
	content: "\e6d3";
}
.i-folder-open:before {
	content: "\e6d4";
}
.i-tag2:before {
	content: "\e6d5";
}
.i-cart:before {
	content: "\e6d6";
}
.i-phone:before {
	content: "\e6d7";
}
.i-phone2:before {
	content: "\e6d8";
}
.i-local:before {
	content: "\e6d9";
}
.i-alarm:before {
	content: "\e6da";
}
.i-clock:before {
	content: "\e6db";
}
.i-history:before {
	content: "\e6dc";
}
.i-stopclock:before {
	content: "\e6dd";
}
.i-rotate:before {
	content: "\e6de";
}
.i-rotate2:before {
	content: "\e6df";
}
.i-redo:before {
	content: "\e6e0";
}
.i-undo:before {
	content: "\e6e1";
}
.i-chat2:before {
	content: "\e6e2";
}
.i-chat3:before {
	content: "\e6e3";
}
.i-chat:before {
	content: "\e6e4";
}
.i-data2:before {
	content: "\e6e5";
}
.i-spin:before {
	content: "\e6e6";
}
.i-health2:before {
	content: "\e6e7";
}
.i-cog2:before {
	content: "\e6e8";
}
.i-bulb:before {
	content: "\e6e9";
}
.i-rating:before {
	content: "\e6ea";
}
.i-rating2:before {
	content: "\e6eb";
}
.i-rating3:before {
	content: "\e6ec";
}
.i-grid:before {
	content: "\e6ed";
}
.i-grid2:before {
	content: "\e6ee";
}
.i-grid3:before {
	content: "\e6ef";
}
.i-ellipsis:before {
	content: "\e6f0";
}
.i-dot:before {
	content: "\e6f1";
}
.i-dots:before {
	content: "\e6f2";
}
.i-bar:before {
	content: "\e6f3";
}
.i-bar2:before {
	content: "\e6f4";
}
.i-bars3:before {
	content: "\e6f5";
}
.i-menu:before {
	content: "\e6f6";
}
.i-menu2:before {
	content: "\e6f7";
}
.i-download2:before {
	content: "\e6f8";
}
.i-upload2:before {
	content: "\e6f9";
}
.i-eye:before {
	content: "\e6fa";
}
.i-eye-slash:before {
	content: "\e6fb";
}
.i-bookmark:before {
	content: "\e6fc";
}
.i-up:before {
	content: "\e6fd";
}
.i-right:before {
	content: "\e6fe";
}
.i-down:before {
	content: "\e6ff";
}
.i-left:before {
	content: "\e700";
}
.i-check:before {
	content: "\e701";
}
.i-checked:before {
	content: "\e702";
}
.i-popout:before {
	content: "\e703";
}
.i-newtab:before {
	content: "\e704";
}
.i-map:before {
	content: "\e705";
}
.i-layer:before {
	content: "\e706";
}
.i-layer2:before {
	content: "\e707";
}
.i-like:before {
	content: "\e708";
}
.i-dislike:before {
	content: "\e709";
}
.i-football:before {
	content: "\e70a";
}
.i-hexagon-o:before {
	content: "\e70b";
}
.i-hexagon:before {
	content: "\e70c";
}
.i-hexagon2-o:before {
	content: "\e70d";
}
.i-hexagon2:before {
	content: "\e70e";
}
.i-circle:before {
	content: "\e70f";
}
.i-circle-o:before {
	content: "\e711";
}
.i-circle-sm:before {
	content: "\e710";
}
.i-circle-sm-o:before {
	content: "\e712";
}
