  <%= form_for(project, html:{class: "form-horizontal"}) do |f| %>
<section class="panel panel-default">
  <header class="panel-heading font-bold">Project form</header>
  <div class="panel-body">

      <% if project.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

          <ul>
          <% project.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :name, class: "col-lg-2 control-label" %>
        <div class="col-lg-10">
          <%= f.text_field :name, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :description, class: "col-lg-2 control-label" %>
        <div class="col-lg-10">
        <%= f.text_area :description, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :url, class: "col-lg-2 control-label" %>
        <div class="col-lg-10">
          <%= f.text_field :url, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :api_url, class: "col-lg-2 control-label" %>
        <div class="col-lg-10">
          <%= f.text_field :api_url, class: "form-control" %>
        </div>
      </div>
    </div>
  </section>
  <section class="panel panel-default">
    <div class="table-responsive project_columns_input_fields_wrap">
      <table class="table table-striped b-t b-light">
        <thead>
          <tr>
            <th>Column Name</th>
            <th width="30">Required</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @project_columns.each do |column| %>
            <tr>
              <td>
                <%= text_field_tag(:name, column.name, name: "project[columns][#{column.id}][name]", class: "form-control") %>
              </td>
              <td>
                <a href="#" class="project_column_required_toggle<%= column.required ? ' active' : '' %>"  data-toggle="class">
                  <i class="fa fa-check text-success text-active"></i>
                  <i class="fa fa-times text-danger text"></i>
                  <input type="hidden" name="project[columns][<%= column.id %>][required]" value="<%= column.required ? '1' : '0'%>">
                </a>
              </td>
              <td>
                <a class="project_column_destroy btn btn-default btn-xs btn-danger" rel="nofollow" href="#">Destroy<input type="hidden" value="<%= column.id %>"></a>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <footer class="panel-footer">
      <div class="row">
        <div class="col-sm-6 hidden-xs">
          <button class="add_field_button btn btn-sm btn-default">Add More Columns</button>
        </div>
        <div class="col-sm-6 text-right text-center-xs">
          <%= f.submit "Update Project", class: "btn btn-s-md btn-primary" %>
        </div>
      </div>
    </footer>
  </section>
</section>
<% end %>
