<h1>Editing Project</h1>
<%= link_to 'Back', projects_path, class: 'btn btn-default btn-sm btn-primary' %>
<%= link_to 'Show', @project, class: 'btn btn-default btn-sm btn-info'%>

<%= render 'form', project: @project %>
