<p id="notice"><%= notice %></p>
<div class="m-b-md">
  <h3 class="m-b-none">Projects</h3>
</div>
<section class="panel panel-default">
    <form action="/projects" method="get" id="project_batch_form">
    <div class="row wrapper">
      <div class="col-sm-5 m-b-xs">
        <select id="project_batch_action_selector" class="input-sm form-control input-s-sm inline v-middle" name="batch_action">
          <option value="0">Bulk action</option>
          <option value="delete">Delete selected</option>
        </select>
        <button type="submit" id="project_action_button" class="btn btn-sm btn-default">Apply</button>
      </div>
      <div class="col-sm-3">
        <div class="input-group">
          <input name="project_search" type="text" class="input-sm form-control" placeholder="Search">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-sm btn-default" type="button">Go!</button>
          </span>
        </div>
      </div>
      <div class="col-sm-2">
        <%= link_to 'New Project', new_project_path, class: "btn btn-sm btn-default" %>
      </div>
    </div>
    <div class="table-responsive">
    <table class="table table-striped b-t b-light">
      <thead>
        <tr>
          <th width="20"><label class="checkbox m-l m-t-none m-b-none i-checks"><input type="checkbox"><i></i></label></th>
          <th>Name</th>
          <th>Description</th>
          <th>Url</th>
          <th>Api url</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @projects.each do |project| %>
          <tr>
            <td><label class="checkbox m-l m-t-none m-b-none i-checks"><input class="project_checkbox" type="checkbox" name="projects[<%=project.id%>]" value="<%= project.name %>"><i></i></label></td>
            <td><%= project.name %></td>
            <td><%= project.description %></td>
            <td><%= project.url %></td>
            <td><%= project.api_url %></td>
            <td><%= link_to 'Show', project, class: "btn btn-xs btn-info" %></td>
            <td><%= link_to 'Edit', edit_project_path(project), class: "btn btn-xs btn-primary" %></td>
            <td><%= link_to 'Destroy', project, class: "btn btn-xs btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
    </form>
</section>
</div>
