<%= link_to 'Back', projects_path, class: 'btn btn-default btn-sm btn-primary' %>
<%= link_to 'Edit', edit_project_path(@project), class: 'btn btn-default btn-sm btn-success' %>

<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-sm-6">
    <section class="panel panel-default">
      <header class="panel-heading">
        Project
      </header>
      <div class="table-responsive">
        <table class="table table-striped b-t b-light">
          <tbody>
            <tr>
              <td>Name</td>
              <td><%= @project.name %></td>
            </tr>
            <tr>
              <td>Description</td>
              <td><%= @project.description %></td>
            </tr>
            <tr>
              <td>Url</td>
              <td><%= @project.url %></td>
            </tr>
            <tr>
              <td>Api Url</td>
              <td><%= @project.api_url %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </div>

  <div class="col-sm-6">
    <section class="panel panel-default">
      <header class="panel-heading">
        Columns
      </header>
      <div class="table-responsive">
        <table class="table table-striped b-t b-light">
          <thead>
            <tr>
              <th>Name</th>
              <th width="30">Required</th>
            </tr>
          </thead>
          <tbody>
            <% @columns.each do |column|%>
              <tr>
                <td><%= column.name %></td>
                <td>
                  <% if column.required %>
                    <a class="active">
                      <i class="fa fa-check text-success text-active"></i>
                    </a>
                  <% else %>
                    <i class="fa fa-times text-danger text"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </section>
  </div>
</div>
