<%= form_for(xml) do |f| %>
  <% if xml.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(xml.errors.count, "error") %> prohibited this xml from being saved:</h2>

      <ul>
      <% xml.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :id, :value => xml.id%>
  </div>

  <div class="field">
    <%= f.label :project_id , :class => "form_label"%>
    <%= f.select :project_id, Project.all.map{|p|[p.name, p.id]} %>
  </div>

  <div class="field">
    <%= f.label :url, :class => "form_label"%>
    <%= f.text_field :url %>
  </div>

  <div class="field">
    <%= f.label :store_id, :class => "form_label" %>
    <%= f.select :store_id,""%>
    <%= f.hidden_field :store_name%>
  </div>

  <div class="field">
    <%= f.label "Sample", :class => "form_label" %>
    <textarea rows="20" cols="100" id="sample_text" name="sample[text]" disabled= true hidden= true></textarea>
  </div>

  <div class="field">
    <%= f.label :main_tag, :class => "form_label" %>
    <%= f.text_field :main_tag, :disabled => true, :hidden => true %>
  </div>
  <div class="field" id="check_box">

  </div>
  <div class="field" id="list_box">

  </div>

  <div class="actions">
    <%= submit_tag "Test XML", :id => "test_xml", :type => "button", :disabled => true %>
    <%= submit_tag "Download XML", :id => "download_xml", :type => "button", :disabled => true %>
    <%= submit_tag "Set Main Tag", :id => "set_main_tag", :type => "button", :disabled => true, :hidden =>true %>
    <%= submit_tag "Map Tags", :id => "map_tags", :type => "button", :disabled => true, :hidden =>true %>
    <%= submit_tag "Parse XML", :id => "parse_xml", :type => "button", :disabled => true, :hidden =>true %>
  </div>


<% end %>
