<p id="notice"><%= notice %></p>

<div class="m-b-md">
  <h3 class="m-b-none">XMLs</h3>
</div>
<section class="panel panel-default">
  <form action="/xmls" method="get" id="xml_batch_form">
  <div class="row wrapper">
    <div class="col-sm-5 m-b-xs">
      <select id="xml_batch_action_selector" class="input-sm form-control input-s-sm inline v-middle" name="batch_action">
        <option value="0">Bulk action</option>
        <option value="delete">Delete selected</option>
      </select>
      <button type="submit" id="xml_action_button" class="btn btn-sm btn-default">Apply</button>
    </div>
    <div class="col-sm-3">
      <div class="input-group">
        <input name="xml_search" type="text" class="input-sm form-control" placeholder="Search">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-sm btn-default" type="button">Go!</button>
        </span>
      </div>
    </div>
    <div class="col-sm-2">
      <%= link_to 'New XML', new_xml_path, class: "btn btn-sm btn-default" %>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped b-t b-light">
      <thead>
        <tr>
          <th width="20"><label class="checkbox m-l m-t-none m-b-none i-checks"><input type="checkbox"><i></i></label></th>
          <th>Url</th>
          <th>Store</th>
          <th>Version</th>
          <th>Validated</th>
          <th>Project</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @xmls.each do |xml| %>
          <tr>
            <td><label class="checkbox m-l m-t-none m-b-none i-checks"><input class="xmls_checkbox" type="checkbox" name="xml[<%=xml.id%>]" value="<%= xml.url %>"><i></i></label></td>
            <td><%= xml.url %></td>
            <td><%= xml.store_name %></td>
            <td><%= xml.version %></td>
            <td><%= xml.validated %></td>
            <td><%= xml.project_id %></td>
            <td><%= link_to 'Show', xml, class: "btn btn-xs btn-info" %></td>
            <td><%= link_to 'Edit', edit_xml_path(xml), class: "btn btn-xs btn-primary" %></td>
            <td><%= link_to 'Destroy', xml, class: "btn btn-xs btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</form>
</section>
