<% @project_columns.each do |t| %>
  <% column_map = ColumnMap.new(project_column_id: t.id) %>

  <%= render partial: "column_maps/form_ajax", locals: {column_map: column_map, xml_columns: @xml_columns, xml:  @xml}  %>
<% end %>
<script>
$('form[data-remote=true]').on("submit", function(e){
    e.preventDefault();
    $.rails.handleRemote($(this));
    $(this).hide();
});
</script>
