<%= link_to 'Back', xmls_path, class: 'btn btn-default btn-sm btn-primary' %>
<%= link_to 'Edit', edit_xml_path(@xml), class: 'btn btn-default btn-sm btn-success' %>
<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-sm-8">
    <section class="panel panel-default">
      <header class="panel-heading">
        XML
      </header>
      <div class="table-responsive">
        <table class="table table-striped b-t b-light">
          <tbody>
            <tr>
              <td>Url</td>
              <td><%= @xml.url %></td>
            </tr>
            <tr>
              <td>Store</td>
              <td><%= @xml.store_name %></td>
            </tr>
            <tr>
              <td>XML Version</td>
              <td><%= @xml.version %></td>
            </tr>
            <tr>
              <td>Remove Namespaces</td>
              <td><%= @xml.remove_namespaces %></td>
            </tr>
            <tr>
              <td>Encoding</td>
              <td><%= @xml.encoding %></td>
            </tr>
            <tr>
              <td>Main Tag</td>
              <td><%= @xml.main_tag %></td>
            </tr>
            <tr>
              <td>Custom Fields</td>
              <td><%= @xml.custom_fields %></td>
            </tr>
            <tr>
              <td>Validated</td>
              <td><%= @xml.validated %></td>
            </tr>
            <tr>
              <td>Project Id</td>
              <td><%= @xml.project_id %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </div>
  <div class="col-sm-4">
    <section class="panel panel-default">
      <header class="panel-heading">
        Columns
      </header>
      <div class="table-responsive">
        <table class="table table-striped b-t b-light">
          <thead>
            <tr>
              <th>Name</th>
              <th>Number Fix</th>
              <th>Regex</th>
            </tr>
          </thead>
          <tbody>
            <% @columns.each do |column|%>
              <tr>
                <td><%= column.name %></td>
                <td><%= column.number_fix %></td>
                <td><%= column.regex %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </section>
  </div>

</div>
