<% @tags.each do |t| %>
  <% xml_column = XmlColumn.new(name: t, xml_id: @xml.id) %>

  <%= render partial: "xml_columns/form_ajax", locals: {xml_column: xml_column}  %>
<% end %>
<script>
$('form[data-remote=true]').on("submit", function(e){
    e.preventDefault();
    $.rails.handleRemote($(this));
    $(this).hide();
});
</script>
