<%= form_for(xml_column, remote: true, format: :js) do |f| %>
  <% if xml_column.errors.any? %>
    <div id="error_explanation" style="display: inline">
      <h2><%= pluralize(xml_column.errors.count, "error") %> prohibited this xml_column from being saved:</h2>

      <ul>
      <% xml_column.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" style="display: inline">
    <h6><%= xml_column.name %></h6>
    <%= f.hidden_field :name %>
  </div>

  <div class="field" style="display: inline">
    <%= f.hidden_field :xml_id %>
  </div>

  <div class="field" style="display: inline">
    <%= f.label :regex %>:
    <%= f.text_field :regex %>
  </div>

  <div class="field" style="display: inline">
    <%= f.label :number_fix %>? :
    <%= f.check_box :number_fix %>
  </div>
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <div class="actions" style="display: inline">
    <%= f.submit %>
  </div>
<% end %>
