<%= form_for(xml_column) do |f| %>
  <% if xml_column.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(xml_column.errors.count, "error") %> prohibited this xml_column from being saved:</h2>

      <ul>
      <% xml_column.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :xml_id %>
    <%= f.number_field :xml_id %>
  </div>

  <div class="field">
    <%= f.label :regex %>
    <%= f.text_field :regex %>
  </div>

  <div class="field">
    <%= f.label :number_fix %>
    <%= f.check_box :number_fix %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
