<p id="notice"><%= notice %></p>

<h1>Xml Columns</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Xml</th>
      <th>Regex</th>
      <th>Number fix</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @xml_columns.each do |xml_column| %>
      <tr>
        <td><%= xml_column.name %></td>
        <td><%= xml_column.xml_id %></td>
        <td><%= xml_column.regex %></td>
        <td><%= xml_column.number_fix %></td>
        <td><%= link_to 'Show', xml_column %></td>
        <td><%= link_to 'Edit', edit_xml_column_path(xml_column) %></td>
        <td><%= link_to 'Destroy', xml_column, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Xml Column', new_xml_column_path %>
