<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @xml_column.name %>
</p>

<p>
  <strong>Xml:</strong>
  <%= @xml_column.xml_id %>
</p>

<p>
  <strong>Regex:</strong>
  <%= @xml_column.regex %>
</p>

<p>
  <strong>Number fix:</strong>
  <%= @xml_column.number_fix %>
</p>

<%= link_to 'Edit', edit_xml_column_path(@xml_column) %> |
<%= link_to 'Back', xml_columns_path %>
