<%= form_for(xml_download) do |f| %>
  <% if xml_download.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(xml_download.errors.count, "error") %> prohibited this xml_download from being saved:</h2>

      <ul>
      <% xml_download.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :xml_id %>
    <%= f.number_field :xml_id %>
  </div>

  <div class="field">
    <%= f.label :status %>
    <%= f.text_field :status %>
  </div>

  <div class="field">
    <%= f.label :test %>
    <%= f.check_box :test %>
  </div>

  <div class="field">
    <%= f.label :xml_errors %>
    <%= f.text_area :xml_errors %>
  </div>

  <div class="field">
    <%= f.label :path %>
    <%= f.text_field :path %>
  </div>

  <div class="field">
    <%= f.label :observations %>
    <%= f.text_area :observations %>
  </div>

  <div class="field">
    <%= f.label :file_size %>
    <%= f.number_field :file_size %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
