<p id="notice"><%= notice %></p>

<h1>Xml Downloads</h1>

<table>
  <thead>
    <tr>
      <th>Xml</th>
      <th>Status</th>
      <th>Test</th>
      <th>Xml errors</th>
      <th>Path</th>
      <th>Observations</th>
      <th>File size</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @xml_downloads.each do |xml_download| %>
      <tr>
        <td><%= xml_download.xml_id %></td>
        <td><%= xml_download.status %></td>
        <td><%= xml_download.test %></td>
        <td><%= xml_download.xml_errors %></td>
        <td><%= xml_download.path %></td>
        <td><%= xml_download.observations %></td>
        <td><%= xml_download.file_size %></td>
        <td><%= link_to 'Show', xml_download %></td>
        <td><%= link_to 'Edit', edit_xml_download_path(xml_download) %></td>
        <td><%= link_to 'Destroy', xml_download, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Xml Download', new_xml_download_path %>
