<p id="notice"><%= notice %></p>

<p>
  <strong>Xml:</strong>
  <%= @xml_download.xml_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @xml_download.status %>
</p>

<p>
  <strong>Test:</strong>
  <%= @xml_download.test %>
</p>

<p>
  <strong>Xml errors:</strong>
  <%= @xml_download.xml_errors %>
</p>

<p>
  <strong>Path:</strong>
  <%= @xml_download.path %>
</p>

<p>
  <strong>Observations:</strong>
  <%= @xml_download.observations %>
</p>

<p>
  <strong>File size:</strong>
  <%= @xml_download.file_size %>
</p>

<%= link_to 'Edit', edit_xml_download_path(@xml_download) %> |
<%= link_to 'Back', xml_downloads_path %>
