<!-- .aside -->
<aside class="bg-black aside-md hidden-print hidden-xs" id="nav">
  <section class="vbox">
    <section class="w-f scrollable">
      <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="10px" data-railOpacity="0.2">
        <!-- nav -->
        <nav class="nav-primary hidden-xs">
          <ul class="nav nav-main" data-ride="collapse">
            <li  class="active">
              <a href="/" class="auto">
                <i class="i i-statistics icon">
                </i>
                <span class="font-bold">Overview</span>
              </a>
            </li>
            <li>
              <a href="/projects" class="auto">
                <i class="i i-stack icon">
                </i>
                <span class="font-bold">Projects</span>
              </a>
            </li>
            <li>
            <li>
              <a href="/xmls" class="auto">
                <i class="i i-stack icon">
                </i>
                <span class="font-bold">XMLs</span>
              </a>
            </li>
            <li>
              <a href="/xml_downloads" class="auto">
                <i class="i i-stack icon">
                </i>
                <span class="font-bold">XML Downloads</span>
              </a>
            </li>
          </ul>
        </nav>
        <!-- / nav -->
      </div>
    </section>
  </section>
</aside>
