<!DOCTYPE html>
<html class="app">
  <head>
    <title>XmlMapper</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <section class="vbox">
      <%= render 'layouts/header' %>
      <section>
        <section class="hbox stretch">
          <%= render 'layouts/navigation' %>
          <section id="content">
            <section class="hbox stretch">
              <section>
                <section class="vbox">
                  <section class="scrollable padder">
                    <%= yield %>
                  </section>
                </section>
              </section>
            </section>
          </section>
        </section>
      </section>
    </section>
  </body>
</html>
